:root {
    --black: rgb(18, 18, 19);
    --steelblue: steelblue;
    --white: whitesmoke;
    --gray: gray;
    --lightgray: lightgray;
    --none: none;
    --flex: flex;
    --centered: center;
    --block: block;
    --cw: column wrap;
    --small-screen-text: 28px;
    --tiny-padding: 10px;
    --small-padding: 20px;
    --medium-padding: 25px;
    --75p: 75%;
    --50p: 50%;
    --30p: 30%;
    --20p: 20%;
}

body {
    background-color: var(--lightgray);
}

h1 {
    font-family: 'Righteous', cursive;
    font-size: 75px !important;
}

h2 {
    font-family: 'Righteous', cursive;
    font-size: 50px;
    border-right: solid var(--black) 5px;
    border-bottom: solid var(--black) 5px;
    border-bottom-right-radius: 5px;
}

h4 {
    font-family: 'Righteous', cursive;
    font-size: 50px;
    border-right: solid var(--black) 5px;
    border-bottom: solid var(--black) 5px;
    border-bottom-right-radius: 5px;
}

footer {
    background-color: var(--steelblue);
    color: var(--white);
}

.contact {
    font-size: 30px;
    font-family: 'Righteous', cursive;
    font-weight: bold; 
    color: var(--white);
}

.contactLink {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none; 
    color: var(--lightgray);
}

.contactLink:hover {
    color: var(--white);
    font-size: 24px;
    text-shadow: 2px 2px 1px var(--black) ;
}

.customNav {
    background-color: var(--steelblue);
    color: var(--white);
}

.coolerP {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    border-bottom: solid var(--black) 5px;
    padding-bottom: 5px;
}

.customDropItem {
    font-size: 20px;
    margin: 20px;
    font-family: 'Roboto', sans-serif;
}

.customDrop {
    font-size: 30px;
    margin: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-decoration: none; 
    color: var(--lightgray);
}

.customDrop:hover {
    color: var(--white);
    font-size: 36px;
    text-shadow: 2px 2px 1px var(--black) ;
}


.sizeRestrict1 {
    width: 800px;
}

.sizeRestrict2 {
    width: 1200px;
}

.imageRestrict {
    height: 300px;
    width: auto;
}

#hero {
    height: 900px;
    width: 100%;
    background-image: url(./mycarinsnow.jpeg);
    background-size: cover;
    background-position: 55% 45%;
    margin-bottom: var(--medium-padding);
}

@media screen and (max-width: 500px) {
    #hero {
        height: 450px;
    }
}