:root {
    --black: rgb(18, 18, 19);
    --steelblue: steelblue;
    --white: whitesmoke;
    --gray: gray;
    --lightgray: lightgray;
    --none: none;
    --flex: flex;
    --centered: center;
    --block: block;
    --cw: column wrap;
    --small-screen-text: 28px;
    --tiny-padding: 10px;
    --small-padding: 20px;
    --medium-padding: 25px;
    --75p: 75%;
    --50p: 50%;
    --30p: 30%;
    --20p: 20%;
}

body {
    background-color: var(--lightgray);
}

h1 {
    font-family: 'Righteous', cursive;
    font-size: 50px !important;
}

h2 {
    font-family: 'Righteous', cursive;
    font-size: 50px;
}

h4 {
    font-family: 'Righteous', cursive;
    font-size: 50px;
}

footer {
    background-color: var(--steelblue);
    color: var(--white);
}

.contact {
    font-size: 30px;
    font-family: 'Righteous', cursive;
    font-weight: bold; 
    color: var(--white);
}

.contactLink {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none; 
    color: var(--lightgray);
}

.customLink {
    font-family: 'Roboto', sans-serif;
    text-decoration: none; 
    color: var(--lightgray) !important;
}

.customLink:hover {
    color: var(--white) !important;
    text-shadow: 2px 2px 1px var(--black) ;
}

.customCard {
    background-color: var(--steelblue) !important;
    color: var(--white);
}

.contactLink:hover {
    color: var(--white);
    font-size: 24px;
    text-shadow: 2px 2px 1px var(--black) ;
}

.customNav {
    background-color: var(--steelblue);
    color: var(--white);
    font-family: 'Righteous', cursive;
    font-size: 50px !important;
}

.coolerP {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    border-bottom: solid var(--black) 5px;
    padding-bottom: 5px;
}

.personalSlideImages {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.sizeRestrict2 {
    width: 1200px;
}

.imageRestrict {
    height: 300px;
    width: auto;
}

.center {
    justify-content: center !important;
}

.blackText {
    color: var(--black) !important;
}

#hero {
    height: 900px;
    width: 100%;
    background-image: url(./mycarinsnow.jpeg);
    background-size: cover;
    background-position: 55% 45%;
    margin-bottom: var(--medium-padding);
}

@media screen and (max-width: 500px) {
    header {
        display: flex;
        flex-flow: column wrap;
    }

    h2 {
        border-right: none;
    }

    h4 {
        border-right: none;
    }

    #hero {
        height: 450px;
    }

    .customDrop {
        display: flex !important;
    }
 
    .sizeRestrict1 {
        width: 100%;
    }
    .sizeRestrict2 {
        width: 100%;
    }
}